<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="API_Automation.Rest_Assured.GetProfile_Test"/>
      <class name="API_Automation.Rest_Assured.AppTest"/>
      <class name="API_Automation.Rest_Assured.StatusChange_Test"/>
      <class name="API_Automation.Rest_Assured.GetGroups_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
